# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log

# testing
/jest-report.xml
/cypress-report.xml
/cypress-report.*.xml

# misc
.DS_Store

# ide
.alm
.idea
.vscode
/*.iml
*.swp
*.un~
